
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Proje - Kategori</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Pratik Tarifler</th>
        <th> </th>
        <th>True</th>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
    <tr>
        <th>2</th>
        <th>Çorbalar</th>
        <th> </th>
        <th>True</th>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
    <tr>
        <th>3</th>
        <th>Etli Yemekler</th>
        <th> </th>
        <th>True</th>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
    <tr>
        <th>4</th>
        <th>Dolmalar</th>
        <th> </th>
        <th>True</th>
        <th><button class="btn btn-success">Güncelle</button></th>
    </tr>
</table>

<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori açıklamaları</button>



